# OS
.DS_Store
Thumbs.db
desktop.ini
.idea/
.vscode/

# Terraform
**/.terraform/*
*.tfstate
*.tfstate.*
crash.log
*.tfvars
*.tfvars.json
override.tf
override.tf.json
*_override.tf
.terraformrc
terraform.rc

# Logs
*.log
*.tmp
*.swp
*~

# Dependencias
node_modules/
dist/
build/
target/

# venv Python
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# IDE
.vscode/
.idea/
*.code-workspace

#backup
*.bak

# Secretos / credenciales
*.pem
*.key
.env
.env.*
credentials
aws_credentials